extends layout

block page 
  - var menu = 'index'
block content
  if (articles.length === 0)
    | 还没有发表过文章
    a(href="/login") 登录
    |  去发表文章.
  else 
    each article, index in articles
      div
        h2
          a(href="/articles/#{article.slug}")= article.title