<!doctype html>
<html>
<head>
  <title>ตวยผ</title>
  <link rel="stylesheet" type="text/css" 
        href="/static/css/styles.css" />
</head>
<body>
  <div class="form-container">
    <p class="form-header">ตวยผ</p>
    <form method="POST">
        <label>ำรปงร๛:</label>
        <input type="text" name="username"><br>
        <label>รÜย๋:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="ตวยผ">
    </form>
  </div>
  <a href="/signup">ืขฒแ</a>
  <hr><%= msg %>
</body>
</html>