extends layout
block page
  - var menu = 'post'
block content
  h2 发布文章
  div= error
  div.col-md-8
    form(action="/post", method="POST", role="form")
      div.form-group
        label(for="title") 标题
        input#title.form-control(name="title", type="text", placeholder="Node.js简介")
      div.form-group
        label(for="slug") URL路由
        input#slug.form-control(name="slug", type="text", placeholder="nodejs")
        span.help-block 这个字符串将会成为URL一部分.
      div.form-group
        label(for="text") 正文
        textarea#text.form-control(rows="5", name="text", placeholder="Node.js是一个基于googleChomeV8...")
      p
        button.btn.btn-primary(type="submit") 保存
